<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Contact</title>
</head>

<div class="about-container">
    <p class="animated">
        Title: <%= result.title %><br>
        Category: <%= result.category %><br>
        Tags: <%= result.tag %><br>
        Date: <%= result.date %><br>
        Created by: <%= result.username %><br><br>
        Content:
    </p>
    <pre class="animated"><%= result.details %></pre>
</div>